<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="devvyou">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google sign-in side-project</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h1>Home</h1>

    <% if (locals.authenticated) { %>
        <a href="/logout">Logout</a>
        <% } else { %>
            <a href="/auth/google">Login</a>
            <% }%>

</body>

</html>